.questitem{
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--itemHoverColor);
    padding: 0.4rem 1.2rem;
}


.questitem:hover{
    background-color: var(--itemHoverColor);
}

.questitem svg{
    align-self: center;
    cursor: pointer;
    color: var(--textColor);
}

.questitem svg:hover{
    color :  var(--iconHoverColor);
}

.questtext{
    flex: 1;
    text-align: left;
    padding-left: 0.4rem;
}

.questcheck{
    color: var(--iconHoverColor);
    text-decoration : line-through;
}

.deleteicon{
    background-color: transparent;
    outline: none;
    border : none;
}