.addform {
	display: flex;
	align-self: stretch;
	background-color: var(--bodyColor);
}

.addinput {
	height: 2rem;
	width: 100%;
	flex: 1;
	border: none;
	outline: none;
	padding: 0.5rem;
	background-color: var(--bodyColor);
	color: var(--textColor);
}

.addbutton {
	cursor: pointer;
	width: 3rem;
	font-weight: bolder;
	font-size: 1.4rem;
	color: white;
	border: none;
	outline: none;
	background-color: var(--titleColor2);
}

.addbutton:hover {
	background-color: var(--titleColor3);
}
